# ==============================
# Virtual Environments
# ==============================
.venv/
venv/
venv-1/
env/

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# VSCode
# ==============================
.vscode/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Cache
# ==============================
.pytest_cache/
.mypy_cache/

# ==============================
# Environment variables
# ==============================
.env